/********************************************************************
 *                                                                  *
 *        Reusable CSS                                              *
 *        Typography                                                *
 *        https://reuseable.github.io                               *
 *        Brian Zelip                                               *
 *        MIT License                                               *
 *                                                                  *
 *        This module contains:                                     *
 *        1. Font families                                          *
 *        2. Headings
          3. Links
          4. Lists
          5.                                                        *
 *        3. Variables used herein                                  *
 *                                                                  *
 ********************************************************************/



/* Headings */
/* need to read jxnblk's mathematical typography post */

.h0 { font-size: 10rem; }
.h1 { font-size: 4rem; }
.h2 { font-size: 4rem; }
.h3 { font-size: 2rem; }
.h4 { font-size: 1rem; }
.h5 { font-size: 1rem; }
.h6 { font-size: .8rem; }
